body::-webkit-scrollbar {
    width: 0.9rem;
}

body::-webkit-scrollbar-track {
    background: rgb(236, 236, 236);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170);
    border-radius: 20px;
    border: 3px solid rgb(170, 170, 170);
}

/* Estilo da navegação */
.nav-link {
    padding-bottom: 0.1rem !important;
}

/* Estilo da lista de navegação na barra de cabeçalho */
.header nav ul li {
    list-style: none;
    display: inline;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    position: relative;
}

/* Efeito de sublinhado ao passar o mouse sobre os itens de navegação */
.header nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    background-color: #7ca8db;
    transition: 0.5s;
}

.header nav ul li:hover::after {
    width: 100%;
}

#logo{
    height: 75px;
}

#header{
    font-size: 15px;
    font-weight: bold;
}

#header {
    background-color: #0766AD !important; /* Cor azul de exemplo */
  }

.navbar-white {
    background-color: #0766AD !important; /* Cor azul de exemplo */
}

/* Adicione a cor branca ao texto da barra de navegação para contrastar */
.navbar-nav .nav-link {
    color: #fff !important;
}

#header .navbar-brand{
    width: 25px;
}

#home{
    padding-top: 12%;
    padding-bottom: 3%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
}


p{
    font-size: 18px;

}

#sobre{
    background-color: #C5E898;
    font-size: 18px;
    padding-top: 3%;
    padding-bottom: 3%;
}

#servicos{
    padding-top: 3%;
    padding-bottom: 3%;
}

#quemsomos{
    padding-top: 3%;
    padding-bottom: 3%;
}

.accordion-button-bronze{
    background-color: #CD7F32;
}

#planos{
    padding-bottom: 4%;
}

#footer{
    padding-bottom: -1px;
}

#descricao{
    font-size: 16px;
}

#contato{
    align-items: left;
}