body::-webkit-scrollbar {
    width: 0.9rem;
}

body::-webkit-scrollbar-track {
    background: rgb(236, 236, 236);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170);
    border-radius: 20px;
    border: 3px solid rgb(170, 170, 170);
}

/* Estilo da navegação */
.nav-link {
    padding-bottom: 0.1rem !important;
}

/* Estilo da lista de navegação na barra de cabeçalho */
.header nav ul li {
    list-style: none;
    display: inline;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    position: relative;
}

/* Efeito de sublinhado ao passar o mouse sobre os itens de navegação */
.header nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    background-color: #7ca8db;
    transition: 0.5s;
}

.header nav ul li:hover::after {
    width: 100%;
}

#logo{
    height: 75px;
}

#header{
    font-size: 15px;
    font-weight: bold;
}

#header {
    background-color: #0766AD !important; /* Cor azul de exemplo */
  }

.navbar-white {
    background-color: #0766AD !important; /* Cor azul de exemplo */
}

/* Adicione a cor branca ao texto da barra de navegação para contrastar */
.navbar-nav .nav-link {
    color: #fff !important;
}

#header .navbar-brand{
    width: 25px;
}

.header nav ul li:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #ffff00 !important;
    text-shadow: 1px 1px 2px #000000;
    text-decoration: underline;
}

/* Toogler */


.home {
    background: url(../img/céu-azul.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home2{
    padding-top: 6%;
    padding-bottom: 6%;
}

.separador {
    border-top: 2px solid #8f8f8f;
    margin: 20px 0; /* Ajuste o espaçamento conforme necessário */
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    margin-bottom: 30px !important;
}


p{
    font-size: 18px;

}

#sobre{
    background-color: #C5E898;
    font-size: 18px;
    padding-top: 3%;
    padding-bottom: 5%;
}

#servicos{
    padding-top: 5%;
    padding-bottom: 5%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.card img {
    align-items: center;
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

#quemsomos{
    padding-top: 6%;
    padding-bottom: 4%;
}

.accordion-button-bronze{
    background-color: #CD7F32;
}

/* COR BRONZE PARA CARD DE PLANOS */
.cor-bronze {
    color: #cd7f32 !important; /* Código hexadecimal para a cor bronze */
}

.border-cor-bronze {
    border-color: #cd7f32 !important;
}

.btn-cor-bronze{
    color:#fff !important;
    background-color: #cd7f32 !important;
    
}

#planos{
    padding-top: 6%;
    padding-bottom: 4%;
}

#footer{
    padding-bottom: -1px;
}

#descricao{
    font-size: 16px;
}

#contato{
    align-items: left;
}